@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

:root {
    --color-primary: #162445;
    --color-secondary: #FFF;
    --azul-royal: #3f589e;
    --azul-profundo: #140f07;
    --fundo-card-timer: rgba(20, 68, 128, 0.30);
    --lils: #738dfd;
    --linear-botes: linear-gradient(180deg, #6466cf 0%, #144480 100%);
    --fundo-card: rgba(255, 255, 255, 0.50);
    --fundo-card-concludo: rgba(40, 84, 143, 0.4);
}

* {
    margin: 0;
    padding: 0;
}

p,
a {
    font-family: Inter;
    color: rgb(255, 255, 255);
}

hr {
    margin: 0px 15px 0px 15px;
    border-color: rgba(240, 248, 255, 0.397);
}

body {
    overflow-x: hidden;
    height: 70rem;
    background: rgba(108, 156, 199, 0.26)
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.colunas {
    height: 100%;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
}

.coluna1 {
    padding-top: 0;
    width: 20%;
    border-right: solid 2px rgb(41, 60, 167);
    background: linear-gradient(90deg, #fafafa00 0%, #98a6b865 48.44%, #416a8d94 100%);
}

.hiddenSuave {
    display: none;
}

#coluna1-btn-div {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;


}

#coluna1-btn {
    position: relative;
    height: 100px;
    width: 25px;
    background-color: rgb(41, 60, 167);
    border-radius: 0px 15px 15px 0;
}

#btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

#coluna1-itens {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #14458033;
    border-radius: 15px;
}

#coluna1-logo {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    height: 15vh;
}

#logo {
    max-width: 100%;
    display: block;
    height: auto;
    user-select: none;
}

.item {
    margin: 2%;
    padding: 0.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

@media (max-width: 400px) {
    .respText {
        font-size: 14px;
    }
}

i {
    margin: 5px;
}

a:hover {
    animation: fadeIn 100ms;
    margin: 2%;
    padding: 0.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
    border-radius: 15px;
    box-sizing: border-box;
    background: rgb(34, 83, 195);
    background: linear-gradient(256deg, rgba(34, 83, 195, 0.76234243697479) 0%, rgba(49, 138, 176, 1) 0%, rgba(63, 88, 158, 1) 100%);
    outline: 3px solid #16244549;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a:link {
    text-decoration: none;
}

.coluna2 {
    position: relative;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70rem;
    /*Deixar fixado a aba ou não??*/
}

.cabecalhoPerfil {
    display: flex;
    padding: 10px;
    gap: 2rem;
    height: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

.fotoPerfil {
    width: 15rem;
    border-radius: 50%;
    outline: 2px solid #9264cf;
    background-color: #9264cf36;
    user-select: none;
}

#perfilDiv {
    width: fit-content;
    height: fit-content;
}

#infoDiv {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 25px;
    width: 100%;
    outline: 2px #9264cf solid;
    border-radius: 5px;
    background-color: #9264cf36;
}

#infoDiv p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 250;
}

#infoDiv-btn {
    box-sizing: border-box;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 3.2rem;
    background: var(--linear-botes);
    margin: 4.5rem 4.5rem 0 0;
    padding: 1rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 0;
    font-family: Inter;
    width: fit-content;
}
#infoDiv-btn:active{
    background: #144480;
}

#sobreMim {
    margin-top: 4rem;
    height: fit-content;
    outline: solid 2px rgba(41, 60, 167, 0.349);
    border-radius: 5px 5px 0px 0px;
    background: #416a8daf;
    font-size: 1.5rem;
    max-width: fit-content;
    min-width: 97.2%;
    text-overflow: none;
    padding: 1rem;

}

label {
    color: white;
}

#sobreMim p {
    padding-top: 1rem;
}

#coment-topo{
    display: flex;
    justify-content: space-between;
    margin: .5rem;
}

#coment {
    height: fit-content;
    outline: solid 2px rgba(41, 60, 167, 0.349);
    border-radius: 0px 0px 5px 5px;
    background: #416a8daf;
    font-size: 1.5rem;
    max-width: fit-content;
    min-width: 97.2%;
    text-overflow: none;
    padding: 1rem;
    margin-top: .5rem;
}

#coment-btn {
    box-sizing: border-box;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 3.2rem;
    background: var(--linear-botes);
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    font-family: Inter;
    width: fit-content;
    padding: 0 1rem 0 1rem;
}


.fa-arrow-down{
    transform: rotate(0deg);
    transition: transform 90ms linear;
  }
  
  .fa-arrow-down.open{
    transform: rotate(180deg);
    transition: transform 90ms linear;
  }

#coment-area{
    display: none;
}

.coment-area-user{
    
}

#posts{
    height: fit-content;
    outline: solid 2px rgba(41, 60, 167, 0.349);
    border-radius: 5px;
    font-size: 1.5rem;
    max-width: fit-content;
    min-width: 97.2%;
    text-overflow: none;
    padding: 1rem;
    margin-top: 10%;
}

.app__footer {
    display: flex;
    width: 100%;
    padding: 2.8rem 6rem;
    justify-content: center;
    align-items: center;
    background: #010B15;
}

.app__footer-text {
    color: rgba(182, 182, 182, 0.8);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}